$color-primary : #337ab7;
$color-secondary : #444;
$color-subtext : #7f7e7e;

$border-color : #e6e6e6;

$background-color : #f3f3f3;

$font-size : 13px;
$font-size-subtext : 10px;

$form-element-height : 50px;

$hover-color: #204d74;
$hover-border-color: #122b40;

$border-radius : 3px;

$default-spacing: 10px;

$font-color : #444;
