@import '../../sass/all';

.container{
    padding: $default-spacing;
}

.sorttag{
    padding: $default-spacing + 10;
    color: $color-subtext;
    font-size: $font-size - 1;
}

.card {
    // padding: 0px ($default-spacing + 10) ($default-spacing + 10);
    // width: 280px;
    margin-bottom: $default-spacing * 4;
}