@import '../../sass/all';

.gridcontainer{
    margin-top: $default-spacing;
}

.sorttag{
    padding: $default-spacing + 10;
    color: $color-subtext;
    font-size: $font-size - 1;
}

.card {
    margin-bottom: $default-spacing * 4;
}
.clearfilterbutton{
    margin-left: 10px;
    padding: 6px 10px;
    border: 1px solid $color-primary;
}
.sortbytext{
    font-weight: 500;
}