@import '../../sass/all';

.open{
    display: block;
}

.close {
    display: none;
}

.dropdown{
    padding-left: 0;
    position: absolute;
    list-style: none;
    min-width: 150px;
    border: 1px solid $border-color;
    background: #fff;
    z-index: 10;
}

.dropdownli{
    padding: 5px;
}

.dropdownborder{
    border-bottom: 1px solid $border-color;
}

.dropdownlink{
    padding: 10px;
    color: $color-secondary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size;
}

.dropdownicon{
    margin-left: 5px;
    font-size: 12px;
}

.dropdownroot{
    @extend .dropdownlink;
    padding: 0;
}