/**Buttongroup styles **/

.btngroup {
  font-size: 0;
  line-height: 1;
  white-space: nowrap;
  display: inline;
}

.btn{
  // border-radius: 0px !important;
  &:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}