@import '../../sass/all';

$el-default-margin : 15px;

.navbar{
    list-style: none;
    color: $color-secondary;
    padding: ($el-default-margin - 3) ($el-default-margin - 5);
}

.navbarlink{
    color: $color-secondary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size;
}

.navbarli{
    display: inline-block;
    margin-left: $el-default-margin;
    
}
.active{
     a{
        color: $color-primary;
     }
}

.dropdownparent{
    position: relative;
}

.dropdown{
    top: 43px;
}
.mainmenu{
    float: right;
    margin-right: $el-default-margin;
}

.logo{
    padding: ($el-default-margin - 10);
    padding-left: 0px;
    float: left;
    // margin-left: $el-default-margin;
}

.image {
    width: 30px;
}

.profileavatar{
    // padding: 0px ($el-default-margin - 5);
    float: right;
    margin-top: 6px;
    // margin-right: $el-default-margin;
    img {
        border-radius: 50%;
        width: 30px;
        vertical-align: middle;
    }
}

.profilename{
    padding-right: $el-default-margin - 5;
    font-size: 14px;
}

.caret{
    padding-left: $el-default-margin - 10;
}