@import '../../sass/all';

.actionbar {
    border-bottom: 1px solid #eaefed;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: $background-color;
}

.searchbox{
    height: 33px;
    font-size: $font-size + 1;
    padding-left: 5px;
    outline: none;
}

h1{
    margin: 0;
    padding: 0;
    padding-left: 5px;
    color: $color-secondary;
    font-weight: 500;
    font-size: $font-size + 10;
}

.layoutSwitchButton{
    margin-left: 20px;
}

.searchButton{
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.sortbydropdowncontainer{
        font-size: $font-size + 1;
        padding-top: 10px;
        position: relative;
        text-align: right;
        margin-right: -20px;
        width: 80px;
}

.sortbydropdown{
    top: 40px;
    right: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .searchContainer,.btngroup{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .searchbox {
        width: 85%;
    }
    .searchButton{
        width: 15%;
    }
}

@media (min-width: 768px) {
    .searchContainer{
        float: right;
    }

    .btngroup{
        float: right;
    }
}

@media (max-width: 270px) {
    .searchbox {
        width: 70%;
    }
    .searchButton{
        width: 30%;
    }   
}